<%= simple_form_for(@blog) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs"data-no-turbolink>
    <%= f.input :title %>
    <%= f.input :body, as: :ckeditor, input_html: { ckeditor: { toolbar: 'Full' } } %>
</div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
