<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
  <h1 style="text-align:center;">Listing Blogs</h1>
  <%= will_paginate(@blogs) %>
  <% @blogs.order("created_at DESC").each do |blog| %>
  <% if current_user then blog.mark_as_read! :for => current_user; end %>
  <div class="panel">
    <div class="panel-heading">
      <h3><%= link_to blog.title, blog %></h3>
      <h6><%= "Posted by #{User.find(blog.user_id).username}, " %><%= blog.created_at.strftime("%B, %d, %Y") %> | <%= link_to blog.title, blog_path(blog, :anchor => "disqus_thread")%></h6>
    </div>
    <div class="panel-body">
      <%= raw blog.body.truncate_words(250) %>
    </div>
    <div class="panel-footer">
      <div class="container-fluid">
        <div class="pull-left">
          <% if current_user && (current_user.voted_on? blog) %>
          <%= link_to "#{pluralize(blog.get_upvotes.size, 'Like')}", blog, method: :get, notice: "Remembered...", class:'btn btn-default' %>
          <% else %>
          <%= link_to "#{pluralize(blog.get_upvotes.size, 'Like')}", blog, method: :get, notice: "Remembered...", class:'btn btn-primary' %>
          <% end %>
        </div>
        <div class="pull-right">
          <%= link_to 'Read More', blog, class: 'btn btn-primary' %>

          <% if current_user && is_admin? %>
            <%= link_to 'Edit', edit_blog_path(blog), class: 'btn btn-warning', :'data-no-turbolink' => true %>
          <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <div id="infinite-scrolling">
      <%= will_paginate(@blogs) %>
  </div>

</div>
<br>
<script>
$(function(){
    $('a[data-reload="true"').on('click', function(e) {
        window.location = $(e.target).attr('href');
        window.location.reload(true);
    });
});
</script>
<script>
window.DISQUSWIDGETS = undefined;
$.getScript("http://" + disqus_shortname + ".disqus.com/count.js");
</script>
