<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
  <h1 style="text-align:center;">Listing Blogs</h1>
  <%= will_paginate(@blogs) %>
  <% @blogs.order("created_at DESC").each do |blog| %>
  <div class="panel">
    <div class="panel-heading">
      <h3><%= link_to blog.title, blog %></h3>
      <h6><%= blog.created_at.strftime("%B, %d, %Y") %></h6>
    </div>
    <div class="panel-body">
      <%= raw blog.body.truncate_words(250) %>
    </div>
    <div class="panel-footer">
      <div class="container-fluid">
        <div class="pull-right">
          <%= link_to 'Read More', blog, class: 'btn btn-primary' %>
          
          <% if current_user && is_admin? %>
            <%= link_to 'Edit', edit_blog_path(blog), class: 'btn btn-warning', :'data-no-turbolink' => true %>
          <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
          <% end %>
          
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <%= will_paginate(@blogs) %>
</div>
<br>