<header style="border-bottom-style: solid; border-width: 1px">
    Page:<%= @memories.current_page %>/<%=@memories.total_pages %>
</header>
<div class="container-fluid">
    <div id="the-pins">
        <% @memories.each do |memory| %>
        <% if current_user then memory.mark_as_read! :for => current_user; end %>
        <div class="panel">
            <div class="panel-heading">
                <h3><%= link_to memory.title, memory_path(memory)%></h3>
                <h6><%= "Posted by #{User.find(memory.user_id).username}, " %><%= memory.created_at.strftime("%B, %d, %Y") %>
                    |
                    <%= link_to memory.title, memory_path(memory, :anchor => "disqus_thread")%></h6>
            </div>
            <div class="panel-body">
                <%= raw memory.body.truncate_words(250) %>
            </div>
            <div class="panel-footer">
                <div class="container-fluid">
                    <div class="pull-left">
                        <% if current_user && !(current_user.voted_for? memory) || current_user && (current_user.voted_down_on? memory) %>
                        <%= link_to "#{pluralize(memory.get_upvotes.size, 'Like')}", like_memory_path(memory), method: :get, notice: "Remembered...", class:'btn btn-primary' %>
                        <% elsif current_user && (current_user.likes memory) %>
                        <%= link_to "#{pluralize(memory.get_upvotes.size, 'Like')}", dislike_memory_path(memory), method: :get, notice: "Forgotten...", class:'btn btn-default' %>
                        <% end %>
                    </div>
                    <div class="pull-right">

                        <%= link_to 'Read More', memory, class: 'btn btn-primary' %>

                        <% if current_user && memory.user_id == current_user %>
                        <%= link_to 'Edit', edit_memory_path(memory), class: 'btn btn-warning', :'data-no-turbolink' => true %>
                        <%= link_to 'Destroy', memory, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
        <% end %>
    </div>
</div>
<div id="infinite-scrolling">
    <div id="scroll-up" style="display:none">
        <%= will_paginate(@memories) %>
    </div>
    <div id="scroll-down" style="display:none">
        <%= will_paginate(@memories) %>
    </div>
</div>
<div id="page=<%=@memories.current_page%>"></div>
