<!DOCTYPE html>
<html>
    <head>
        <title>HarambeParable</title>
        <%= action_cable_meta_tag %>
        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
        <script src="//cdn.ckeditor.com/4.4.7/full-all/ckeditor.js"></script>
    </head>

    <body>
        <% if notice %>
        <div id="notice_wrapper">
            <p class="notice"><%= notice %>
            </p>
        </div>
        <% elsif alert %>
        <div id="alert_wrapper">
            <p class="alert"><%= alert %>
            </p>
        </div>
        <% end %>
        <%= render 'layouts/navbar' %>
        <div class="col-lg-10 col-lg-offset-1" style="padding-bottom:3em;">
            <%= yield %>
        </div>
        <% if !current_user.nil? && is_admin? %>
        <%= render 'layouts/admin' %>
        <% end %>

    </body>
    <footer class="footer">
      <script id="dsq-count-scr" src="//harambes-me.disqus.com/count.js" async></script>
        <div id="footer">
            Copyright &copy; 2016-<%= Time.now.year %>
            Dean DeHart. All rights reserved.
        </div>
        <!-- Menu Toggle Script -->
        <script>
            $("#menu-toggle").click(function (e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });
        </script>
        <script>
            $('ul.nav li.dropdown').hover(function () {
                $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
            }, function () {
                $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
            });
        </script>
        <script>
            $(document).ready(function () {
                $('.dropdown-toggle').dropdown();
            });
        </script>
        <script>
            $(function () {
                $('#notice_wrapper').delay(500).fadeIn('slow', function () {
                    $(this).delay(1000).fadeOut();
                });
            });
        </script>
        <script>
            $(function () {
                $('#alert_wrapper').delay(500).fadeIn('slow', function () {
                    $(this).delay(2500).fadeOut();
                });
            });
        </script>
    </footer>
</html>
